.jumbotron {
    font-size: 10px;
    text-align: center;
    color: black;
    border-bottom: 1px solid grey;
}

.details {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.details .details-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.details .details-item span {
    font-weight: bold;
}

.content {
    display: flex;
    gap: 99px;
    justify-content: center;
    padding: 10px;
}

section {
    display: flex;
    gap: 250px;
    padding: 10px;
    padding-left: 70px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Trebuchet MS';
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}

.details-item .notify {
    color: #F8DD4C;
    font-weight: bold;
}

nav {
    background-color: #d6eaf8;
    border-bottom: solid #ccc;
}

nav a {
    font-size: 15px;
    text-decoration: none;
    color: grey;
    border-bottom: 2px solid transparent;  
    white-space: nowrap;
}

nav a:hover {
    border-bottom: 4px solid #4e505b;
    padding: 15px;
}

nav a.active {
    border-bottom: 4px solid #4e505b;
    padding: 15px;
}
  
nav ul {
    padding-inline: 4rem;
    display: flex;
    gap: 95px;
    justify-content: center;
}

nav li {
    list-style-type: none;
}

.progressbar {
    width: 400px;
    height: 50px;
}

footer {
    padding: 10px;
    color: white;
    background-color: #4e505b;
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 3px 15px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 1220px;
  }

.btn-edit {
    background-color: #f7f9f9;
    border: none;
    color: black;
    padding: 3px 15px;
    cursor: pointer;
    font-size: 20px;
}

.btn-exit {
    background-color: red;
    border: none;
    color: white;
    padding: 3px 15px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 0;
}

.btn, .btn-exit, .btn-edit {
    border-radius: 5px;
}

.btn:hover {
    background-color: RoyalBlue;
  }

.btn-exit:hover {
    background-color: #a83629;
  }
.btn-edit:hover {
    background-color: #ccc;
}

.container {
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}
  
.status {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
  
.status .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #eee;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
    margin-right: 10px;
}
  
.status .icon-on-hold {
    background-color: #ffc107;
}
  
.status .icon-complete {
    background-color: #28a745;
}
  
.status .icon-in-progress {
    background-color: #007bff;
}
  
.status .info {
    display: inline-block;
}
  
.status .info h3 {
    margin: 0;
}
  
.status .info p {
    margin: 0;
}

.nav-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}